# versions to verify spinncer model
numpy==1.19.0
neo==0.7.1

ebrains-validation-framework
hbp-validation-framework
ebrains-kg-core
fairgraph
sciunit
nilsimsa
argparse
comment-parser
# numpy
# neo

matplotlib
fuzzywuzzy
argh
pyyaml
watchdog
rarfile
python-magic
nltk
scikit-learn
levenshtein
requests
# pyinterval ## Requires deprecated distutils -- Remove ?
